* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 1.5;
  color: #333;
}

.main-container {
  display: flex;
  background-color: #fdfff4;
  max-width: 981px;
  height: 770px;
  margin: 0 auto;
}

ul a {
  text-decoration: none;
  margin-left: 70px;
  font-size: 1.5rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin-top: 25px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 50px 2px 60px 0;
  border-right: 1.5px solid rgb(175, 175, 175);
}

a:link,
a:visited {
  color: black;
}

.main-content {
  width: 641px;
  margin: 70px 110px 0 20px;
}

.header img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 2.5px solid rgb(175, 175, 175);
  margin-left: 160px;
}

.presentation {
  display: flex;
}

.presentation h4 {
  margin-top: 14px;
}

.presentation p {
  margin-top: 14px;
  margin-left: 20px;
}

.article-details {
  margin-top: 50px;
  text-align: justify;
}
